/* General */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* General */

/* Category List */

.categoryList{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.categoryList-item{
    text-transform: capitalize;
    padding: 15px;
}

.categoryList-item a{
    border: none;
    background-color: #e2e2e2;
    padding: 10px;
    cursor: pointer;
}

.categoryTitle {
    text-transform: capitalize;
}

/* Category List */

/* Review List */

.reviewList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.reviewList-item{
    width: 100%;
    border: 5px solid #2680EB;
    margin:15px;
    box-sizing: border-box;
    border-radius: 5px;
}

.reviewList-item .reviewList-item-card {
    padding:15px;
}

.reviewList-item .reviewList-item-header {
    height: 150px;
    background-position: center;
    background-size: cover;
}

.reviewList-item .reviewList-item-body {
    padding:15px;
}

.reviewList-item .reviewList-item-body_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviewList-item .reviewList-item-body_header h4.reviewScore {
    margin-left:15px;
}

.reviewList-item .reviewList-item-body button {
    color:#ffffff;
    background-color: #2680EB;
    border: none;
    width:100%;
    padding:10px;
    cursor: pointer;
}

@media only screen and (min-width:600px){
    .reviewList-item{
        width:calc(33% - 50px);
        margin:25px;
    }
}
/* Review List */

/* Single Review */

.singleReview-header{
    height:500px;
    justify-content: end;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.singleReview-header-banner{
    padding:20px;
    background-color: #2680EB;
    margin: 0px;
    width: 100%;
}

.singleReview-body {
    padding:60px;
}

.singleReview-footer {
    text-align: center;
    padding: 25px 60px 85px 60px;
}

.singleReview-footer a {
    padding:25px;
    background-color: #2680EB;
    color: #ffffff;
}

/* Single Review */