/* Review List */

.reviewList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.reviewList-item{
    width: 100%;
    border: 5px solid #2680EB;
    margin:15px;
    box-sizing: border-box;
    border-radius: 5px;
}

.reviewList-item .reviewList-item-card {
    padding:15px;
}

.reviewList-item .reviewList-item-header {
    height: 150px;
    background-position: center;
    background-size: cover;
}

.reviewList-item .reviewList-item-body {
    padding:15px;
}

.reviewList-item .reviewList-item-body_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviewList-item .reviewList-item-body_header h4.reviewScore {
    margin-left:15px;
}

.reviewList-item .reviewList-item-body button {
    color:#ffffff;
    background-color: #2680EB;
    border: none;
    width:100%;
    padding:10px;
}

@media only screen and (min-width:600px){
    .reviewList-item{
        width:calc(33% - 50px);
        margin:25px;
    }
}
/* Review List */